<div class="row px-4">
  <h4 class="px-4 py-3 border-bottom border-secondary col-12">
    Quản lý nhập hàng
  </h4>
</div>
<div class="row py-3 px-4">
  <div class="col-4">
    <form action="">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm theo người nhập hàng"
        tabindex="1"
        [(ngModel)]="keySearch"
        name="key"
        appAutofocus
        (keyup)="onSearch($event)"
      />
    </form>
  </div>
  <div class="col-8 d-flex justify-content-end">
    <button class="btn btn-success" routerLink="add">Thêm mới</button>
  </div>
</div>
<div class="row px-4" id="main-container">
  <table class="table table-success">
    <thead style="background-color: #3498db; color: #ecf0f1">
      <tr>
        <th class="col-3">Người nhập</th>
        <th class="col-2">Ngày nhập</th>
        <th class="col-3">Nhà cung cấp</th>
        <th class="col-2 text-right">Tổng tiền</th>
        <th [style]="{ 'padding-left': '20px' }" class="text-center">
          Hành động
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let importBill of importBills">
        <td
          class="fontWeigth item-center"
          data-toggle="tooltip"
          data-placement="right"
          routerLink="detail/{{ importBill.id }}"
        >
          <span class="link-detail"> {{ importBill.user.fullName }} </span>
        </td>
        <td class="fontWeigth text-left item-center">
          {{ importBill.createDate }}
        </td>
        <td class="fontWeigth item-center">
          {{ importBill.supplier.supplierName }}
        </td>
        <td class="fontWeigth text-right item-center">
          {{ importBill.total | currency: "VND" }}
        </td>
        <td class="d-flex justify-content-end align-items-center py-1">
          <a
            class="btn btn-primary mx-2 btn-action"
            data-toggle="tooltip"
            data-placement="right"
            title="Xem chi tiết"
            (click)="onOpenModalDetail(importBill)"
            ><i class="fas fa-eye"></i>
          </a>
          <a
            class="btn btn-primary mx-2 btn-action-edit"
            data-toggle="tooltip"
            data-placement="right"
            title="Chỉnh sửa"
            (click)="onOpenModalEdit(importBill)"
            ><i class="fa fa-pencil"></i>
          </a>
          <a
            class="btn btn-danger tooltips btn-action"
            data-placement="top"
            data-original-title="Xóa"
            (click)="openModalDelete(importBill)"
            ><i class="fa fa-times px-1"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Delete modal-->
  <div
    class="modal fade"
    id="deleteProductModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Xóa</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            xóa phiếu nhập có thể ảnh hưởng đến việc thống kê bạn có muốn xóa
            không ?
          </p>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Không
            </button>
            <button
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="deleteImportBill(importBillDelete?.id)"
            >
              Có
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End delete modal-->
  <!--Load page modal-->
  <div
    class="modal fade"
    id="loadPage"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Tải lại trang</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Phiếu nhập đã bị xóa bạn có muốn tải lại trang không ?</p>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Không
            </button>
            <button
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="
                this.getAllImportBill(this.currentPage - 1, this.pageSize.value)
              "
            >
              Có
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End load page modal-->
</div>
<div class="row d-flex justify-content-between mx-1 mb-4">
  <div class="col-3">
    <span class="text-center my-1 mx-1">Hiển thị</span>
    <nz-select
      class="mx-3 col-4"
      (ngModelChange)="changePageSize($event)"
      [(ngModel)]="pageSize"
    >
      <nz-option
        *ngFor="let size of listPageSize"
        [nzValue]="size"
        [nzLabel]="size.label"
      ></nz-option>
    </nz-select>
  </div>
  <nz-pagination
    [(nzPageIndex)]="currentPage"
    [nzPageSize]="pageSize.value"
    [nzTotal]="totalImportBill"
    [nzResponsive]="true"
    (nzPageIndexChange)="changePage()"
    nzShowQuickJumper
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} của {{ totalImportBill }} phiếu nhập
  </ng-template>
</div>
