@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
  background: #f5f5f5;
  font-size: 15px;
}

a {
  cursor: pointer;
}

label,
p {
  font-size: 18px;
  font-weight: 500;
}

.sider-bar {
  background-color: #212120;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bg-nav {
  background-color: #212120;
  height: 100vh;
}
.navbar {
  padding-bottom: 13px !important;
}

.list-detail {
  position: relative;
}

.menu {
  background-color: #212120;
}

.sider-bar-menu {
  padding: 0px;
  font-size: 18px;
}

.link:hover {
  color: #ef8157;
}

.link-click {
  color: #ef8157;
}

.form-focus {
  color: #495057;
  background-color: #fff;
  border-color: red !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%) !important;
}

.col-1-ten {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, 0.85);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}
i {
  color: white;
}

a {
  color: white;
}

.fontWeigth {
  font-weight: 500;
}

input[type="file"] {
  width: 88px;
  height: 28px;
}

.imageUrl {
  width: 400px !important;
}

#table-head {
  background-color: #3498db;
  color: #ecf0f1;
}

.link-detail {
  cursor: pointer;
  text-decoration: underline;
  color: #3498db;
}

.ant-pagination .ant-pagination-options {
  margin-left: 0 !important;
}

nz-select {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

nz-select-top-control {
  padding-top: 4px !important;
  height: 38px !important;
  line-height: 38px !important;
  font-size: 15px;
}
